html, body {
    height: 60%;
    font-family: sans-serif;
    font-size: 20px;
    background-color: ghostwhite;
}

html {
    display: table;
    margin: auto;
}

input {
    width: 300px;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

body {
    display: table-cell;
    vertical-align: middle;
}
